<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmLight" version="3.1.1" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NorthernLightsWP7Toolkit" version="1.1.1" />
  <package id="Rx-Main" version="1.0.11226" />
  <package id="Rx-Xaml" version="1.0.10621" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" />
  <package id="WP7Contrib.Caching" version="1.0.0.16" />
  <package id="WP7Contrib.Core" version="1.0.0.16" />
  <package id="WP7Contrib.Net" version="1.0.0.16" />
  <package id="WP7Contrib.Services" version="1.0.0.16" />
  <package id="YLAD" version="1.4" />
  <package id="YLOD" version="0.9.0" />
</packages>